<div
  class="relative overflow-x-auto bg-[#042940] shadow-md rounded-lg border border-[#033049]"
>
  <table class="w-full text-sm text-left rtl:text-right text-gray-300">
    <thead
      class="text-xs text-white uppercase bg-[#042940] border-b border-[#033049]"
    >
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">username</th>
        <th scope="col" class="px-6 py-3 font-medium">email</th>
        <th scope="col" class="px-6 py-3 font-medium">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(user of userStateService.users();track $index ){
      <tr class="bg-[#042940] border-b border-[#033049] hover:bg-[#033049]">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-white whitespace-nowrap"
        >
          {{ user.username }}
        </th>
        <td class="px-6 py-4">
          {{ user.email }}
        </td>
        <td class="px-6 py-4">
          <div class="flex">
            <button
              type="button"
              class="text-green-400 bg-green-900/30 border border-green-700 hover:bg-green-700 hover:text-white focus:ring-4 focus:ring-green-800 font-medium leading-5 rounded-base text-xs px-3 py-1.5 focus:outline-none mr-2"
              (click)="getDetails(user.id_User)"
            >
              Detail
            </button>
            <button
              type="button"
              class="text-[#6A64F1] mr-2 bg-[#042940] border border-[#6A64F1] hover:bg-[#6A64F1] hover:text-white focus:ring-4 focus:ring-blue-900 font-medium leading-5 rounded-base text-xs px-3 py-1.5 focus:outline-none"
              (click)="navigToFom(user.id_User)"
            >
              Modifier
            </button>

            <button
              type="button"
              class="text-red-400 bg-red-900/30 border border-red-700 hover:bg-red-700 hover:text-white focus:ring-4 focus:ring-red-900 font-medium leading-5 rounded-base text-xs px-3 py-1.5 focus:outline-none"
              (click)="deleteUser(user.id_User)"
            >
              Supprimer
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
